@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-background-light: #F9FAFB;
  --color-border-light: #E5E7EB;
  --font-sans: "Inter", "Pretendard", "system-ui", "sans-serif";
}

@layer base {
  body {
    font-family: var(--font-sans);
    @apply bg-background-light text-slate-900;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #E5E7EB;
  border-radius: 10px;
}